.tree {
	margin: 0 5px;
	padding: 0 5px;
	/* 	border-top: 1px solid gray; */
	/* 	display: inline-block; */
	vertical-align: top;
	display: table-cell;
}

.node {
	display: inline-block;
	text-align: center;
	min-width: 2em;
	border-bottom: 1px solid;
	margin: 0 5px;
}

.nodeVal {
	display:inline-block;
	width: 2em;
	height: 2em;
	line-height:2em;
	border: 1px solid gray;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
